!!! 5

html
  head
    title Learn with me - brianmavity.com
    
    link(rel: "stylesheet", href: "/css/reset.css", type: "text/css", media: "screen")
    link(rel: "stylesheet", href: "/css/vertical-rhythm.css", type: "text/css", media: "screen") 
    link(rel: "stylesheet", href: "/css/site-layout.css", type: "text/css", media: "screen") 
    link(rel: "stylesheet", href: "/css/brown.css", type: "text/css", media: "screen")
    link(rel: "stylesheet", href: "/css/blog.css", type: "text/css", media: "screen")
  body
    #content
      #header
        #logo
          a(href: "http://www.brianmavity.com") brianmavity.com
          p software development
          p interaction design
        #links
          ul
            li
              a(href: "http://www.brianmavity.com") home
            li
              a(href: "http://blog.brianmavity.com") blog
            li
              a(href: "http://www.brianmavity.com/experience.html") experience
            li
              a(href: "http://www.brianmavity.com/contact.html") contact
        #swooshie
          div &nbsp;

      #main
        != body

      #footer &copy;2008-2010 Brian Mavity
