h1= post.title 

.post
  p #{ post.publishDate } by #{ post.author }
  .content!= post.content
  .comments
    #disqus_thread
    :javascript
      | (function() {
      |   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      |   dsq.src = 'http://brianmavity.disqus.com/embed.js';
      |   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      | })();
    noscript Please enable JavaScript to view the
      a(href: 'http://disqus.com/?ref_noscript=brianmavity') comments powered by Disqus.
      
    a.dsq-brlink(href: 'http://disqus.com') blog comments powered by
      span.logo-disqus Disqus
