form(method: 'POST', action: submitPostUrl)
  .blog-input
    label(for: 'title') Title:
    input#title(type: 'text', name: 'title')
  .blog-input
    label(for: 'slug') Slug:
    input#slug(type: 'text', name: 'slug')
  .blog-input
    label(for: 'postContent') Content:
    textarea#postContent(type: 'text', name: 'postContent')
  input(type: 'submit')
