:javascript
  | var disqus_shortname = 'brianmavity';
  | (function () {
  |   var s = document.createElement('script');
  |   s.async = true;
  |   s.src = 'http://disqus.com/forums/brianmavity/count.js';
  |   s.addEventListener('load', function() {
  |    var links = document.getElementsByTagName("A");
  |     for(var i = 0; i < links.length; i += 1) {
  |       if(links[i].href.indexOf("#disqus_thread") >= 0) {
  |         links[i].href = links[i].href.replace('#disqus_thread', '');
  |       }
  |     }
  |   }, false);
  |   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  | }());
